[submodule "DesktopToast"]
	path = DesktopToast
	url = https://github.com/emoacht/DesktopToast.git
[submodule "Notification.Wpf"]
	path = Notification.Wpf
	url = https://github.com/Platonenkov/Notification.Wpf.git
